html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: $soft-pink;
}
button {
  font-family: monospace;
  text-transform: capitalize;
  cursor: pointer;
}
button:disabled {
  cursor: default;
}