// Colors

$sand: #fff4af;
$aqua: #a9d8b7;
$white: #fff;

$soft-blue: #8be4ff;
$soft-pink: #dfb4cc;
$soft-white: #a5afd7;
$soft-black: #20222b;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;